@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");



/* Header */

.header-root {
  padding: 32px 48px;
  position: relative;
  border-bottom: 1px solid #eaeaea;
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
  padding-bottom: 2rem;
  display: block;
}

.header-container {
  margin: 0 auto;
  visibility: visible;
  display: flex;
  align-items: center;
  transition: top .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.header-leftside {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  white-space: nowrap;
  box-sizing: border-box;
}

.navigation {
  display: inline-block;
  line-height: 1;
  box-sizing: border-box;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #d20117;
}

a:active {
  text-decoration: none;
}

a {
  outline: 0;
  padding: 32px 16px;
  display:inline-block;
  letter-spacing: 1px;
  color: black;
  text-transform: uppercase;
  font-style: var(--font--accent--style);
  font-size: 14px;
  font-weight: bold !important;
  background: 0 0;
  box-sizing: border-box;
}

.menu-item{
  display: inline-block;
}

.header-center{
  padding: 0 20px;
  z-index: 5;
  position: relative;
  text-align: center;
  flex-shrink: 0;
}
.header-logo {
  color: black;
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 30px;
  font-style: bold;
  text-transform: none;
}

.header-rightside {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  white-space: nowrap;
  box-sizing: border-box;
}

.button {
  background-color: transparent;
  color: #d20117;
  padding: 2px 4px;
  border-radius: 2px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-style: var(--font--accent--style);
  font-size: 14px;
  font-weight: bold !important;
  background: 0 0;
  border: 2px solid #d20117;
  line-height: 41px;
}

.select {
  padding: 2px 4px;
  border-radius: 2px;
  letter-spacing: 1px;
  font-size: 14px;
  border: 2px solid black;
  line-height: 41px;
}



/* Home Page */



.carousel-images {
  max-height: 85%;
  width: 100%;
  position: relative;
}

.message{
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: transparent;
  text-align: center;
  margin: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}

.carousel-header {
  color: white;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: .025em;
  font-family: "Oswald", sans-serif;
  line-height: 1.125em;
}

.subheader{
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  letter-spacing: .025em;
  font-family: "Oswald", sans-serif;
  line-height: 1.125em;
}

.carousel-images img {
  width: 100%;
  height:85%;
}

.slide_direction {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.left,
.right {
  background-color: #d20117;
  color: #fff;
  padding: 10px 8px 8px 13px;
  margin: 0 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 10px;
  height: 25px;
  width: 25px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.carousel-indicator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.dot {
  background-color: #333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.active {
  background-color: #d20117;
}



/* Shop */



.shop {
  border-top: solid;
  border-width: thick;
  border-color: #d20117;
  display: block;
  text-align: center;
}

.card-list {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  border: solid;
  border-width: thin;
  border-color: #d20117;
  list-style: none;
  width: 200px;
  box-shadow: 4px 4px 10px #c9c8c8;
  padding: 5px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img {
  width: 190px;
  height: 265px;
}

.card-content h3 {
  height: 70px;
}

.card-content span {
  height: 35px;
}



/* Forms */

.new-user {
  border-top: solid;
  border-width: thick;
  border-color: #d20117;
  display: block;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.form-container {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.form {
  border: solid;
  border-width: thin;
  border-color: #d20117;
  list-style: none;
  width: 200px;
  box-shadow: 4px 4px 10px #c9c8c8;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap:10px
}

.form input {
  height: 50%;
} 



/* login */



.login {
  border-top: solid;
  border-width: thick;
  border-color: #d20117;
  display: block;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}



/* about */



.about {
  border-top: solid;
  border-width: thick;
  border-color: #d20117;
  display: block;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.about-message{
  position: absolute;
  left: 50%;
  top: 35%;
  background-color: transparent;
  text-align: center;
  margin: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}

.about-header {
  color: #d20117;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: .025em;
  font-family: "Oswald", sans-serif;
  line-height: 1.125em;
}

.statement {
  position: absolute;
  left: 50%;
  top: 95%;
  height: 250px;
  max-width: 650px;
  padding: 20px;
  border: solid;
  border-width: thin;
  border-color: #d20117;
  color: white;
  background-color: transparent;
  text-align: center;
  margin: auto;
  transform: translate(-50%, -50%);
  line-height: 2em;
  letter-spacing: .025em;
}



.account {
  border-top: solid;
  border-width: thick;
  border-color: #d20117;
  display: block;
  text-align: center;
}



.bundles {
  border-top: solid;
  border-width: thick;
  border-color: #d20117;
  display: block;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.cigars {
  border-top: solid;
  border-width: thick;
  border-color: #d20117;
  display: block;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}